/*    --------------- contact ---------------    */

/* Background color */

.bg-color-contact {
    background-color: #fafafa;
}

/*  Heading  */

.contact-heading {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* ------ Margin between form inputs ------*/

.form-control {
    margin-bottom: 2px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}


/*  Send Request Button  */
.send-request-btn {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}


/* ---------- Media Queries ---------- */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
    
}
