/*    --------------- contact ---------------    */

/*   Fonts   */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

/*  Background color  */

.bg-color-contact {
  background-color: #fafafa;
}

/*  Heading  */

.contact-heading {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
}

/* --- Slide in text Animation --- */
.slide-in-text {
  transform: translateX(-100%);
  animation: slideIn 2s forwards;
}

.slide-in-text2 {
  transform: translateX(-100%);
  animation: slideIn 4s forwards;
}

@keyframes slideIn {
  to { transform: translateX(0); }
}

/* ------ Margin between form inputs ------*/

.form-control {
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: none;
  background-color: white;
}

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
}

/*  Send Request Button  */

.send-request-btn {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fafafa;
  background-color: #517aa0;
}

.send-request-btn:hover {
  color: #fafafa;
  background-color: #2d4257;
}

/* -- Verification Message -- */
#thank-you-message {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #192b3b;
  display: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#thank-you-message i {
  font-size: 50px;
  color: #09b21a;
  margin-bottom: 15px;
}

/* ---------- Media Queries ---------- */

@media (min-width: 992px) {
  .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
  }
}
