/* ----------------------- Portfolio  ------*/

/*  ------ General ------  */

.bold {
    font-weight: bold;
}

/* ----- Fonts ----- */
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
/* ----------------- */

.portfolio-preview {
    width: 100%;
    margin-right: 8px;
    padding-left: 0;
}


/* ------- Project heading ------- */

.project-heading {
    margin-bottom: 18px;
    font-family: "Truculenta", sans-serif;
    font-weight: 600;
    font-size: 25px;
}


/* ------- Project <div> ------- */

.project-div {
    margin-top: 8px;
    margin-bottom: 43px;
}

/* -------- Project Slides -------- */

.slide-1-text {
    margin-bottom: 5px;
}

.slide-3-heading-1 {
    color: greenyellow;
}

/* ---------------- Tech Chart ---------------- */

.simple-bar-chart {
    --line-count: 10;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 6%;
    --item-default-color: #060606;

    height: 10rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 1.5rem;
    /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
}

.simple-bar-chart::after {
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
}

.simple-bar-chart>.item {
    height: calc(1% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    position: relative;
    animation: item-height 1s ease forwards
}

@keyframes item-height {
    from {
        height: 0
    }
}

.simple-bar-chart>.item>* {
    position: absolute;
    text-align: center
}

.simple-bar-chart>.item>.label {
    inset: 100% 0 auto 0
}

.simple-bar-chart>.item>.value {
    inset: auto 0 100% 0
}


/* ------------------ More Details Drop-Down ------------------ */

/* ---- Drop-Down Button ---- */

.btn-details {
    color: rgb(206, 206, 206);
    background-color: rgb(66, 66, 66);
    border: none;
}

.btn-details:hover {
    color: rgb(7, 193, 193);
    border: none;
    background-color: rgb(66, 66, 66);
}


/* ---- Drop-Down Content ---- */

.collapse {
    width: 100%;
}

.card {
    width: 100%;
    border-radius: 0 0 2px 2px;
    border: 1px solid rgba(128, 128, 128, 0.321);
}




/* ----------------------------- Media Queries ----------------------------- */


/* ----- Tech Chart Media Queries -----*/

/* ----- Chart -----*/

@media (min-width: 500px) and (max-width: 600px) {
    .simple-bar-chart {
        transform: scale(0.40) translateY(160px);
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .simple-bar-chart {
        transform: scale(0.45) translateY(100px);
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .simple-bar-chart {
        transform: scale(0.60) translateY(65px);
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .simple-bar-chart {
        transform: scale(0.80) translateY(30px);
    }
}


/* ----- Chart Label -----*/

@media (min-width: 500px) and (max-width: 869px) {
    .label {
        font-size: 10px;
    }
}


/* ----- Chart Value -----*/

@media (min-width: 500px) and (max-width: 869px) {
    .value {
        font-size: 10px;
    }
}


/* ----- Carousel Indicators and "Next" & "Previous" btn's -----*/

@media (min-width: 500px) and (max-width: 9000px) {

    .carousel-control-prev,
    .carousel-control-next {
        transform: scale(0.75);

    }

    .carousel-indicators {
        transform: scale(0.75);
        bottom: -20px;
    }
}


/* ------ Item Gap ------*/

@media (min-width: 500px) and (max-width: 700px) {
    .simple-bar-chart {
        --item-gap: 10%;
    }
}


/* ----------------------------- END OF MEDIA QUERIES ----------------------------- */


