/*------------------------------------------------ Section resume.html */

.frontend-backend {
    color: #1a1a1a;
    font-size: 20px;
    margin-bottom: 18px;
}

/* -------- Front End Icon -------- */

.fa-tv {
    font-size: 26px;
    color: #192a3a;
}


/* -------- Back End Icon -------- */

.fa-gears {
    font-size: 26px;
    color: #192a3a;
}


/* -------- Skills -------- */

.my-skills-icons {
    font-size: 21px;
    color: rgb(223, 223, 223);
    margin-right: 10px;
}

.my-skills-item {
    height: 18px;
}

/* ----------------------------------------Skills */

/*  Progress Bars  */

.progress {
    position: relative;
    height: 30px;
    margin-bottom: 4px;
    background-color: #dfdfdf;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 5px 30px 5px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
    font-size: 15px;
}

.progress-section {
    margin: 40px 20px;
}


/*  -- Badges --  */

.additional-skills {
    font-size: 14px;
    padding: 6px;
    margin-right: 8px;
    margin-bottom: 5px;
}

/* ----------------------------------------Work Experience */

.bg-color-work-experience {
    background-color: #192a3a;
}

.work-experience-heading {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 55px;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

/*  Work History Timeline  */

.timeline-item {
    padding: 4.3em 2em 0em 2em;
    position: relative;
    color: whitesmoke;
    border-left: 1px solid;
}

    .timeline-item p {
        padding: 0;
        margin: 0;
    }

    .timeline-item:before {
        content: attr(data-dates);
        position: absolute;
        left: 2.5em;
        top: 3em;
        display: block;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
    }

    .timeline-item:after {
        width: 12px;
        height: 12px;
        display: block;
        top: 2.4em;
        position: absolute;
        left: -6px;
        border-radius: 12px;
        content: '';
        background-color: white;
    }

/*  Studies Timeline  */

.timeline-item-studies {
    padding: 4.3em 2em 0em 2em;
    position: relative;
    color: whitesmoke;
    border-left: 1px solid;
}

    .timeline-item-studies p, .timeline-item-studies h4 {
        padding: 0;
        margin: 0;
        color: #a3ff94ff;
    }

    .timeline-item-studies:before {
        content: attr(data-dates);
        position: absolute;
        left: 2.5em;
        top: 3em;
        display: block;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
    }

    .timeline-item-studies:after {
        width: 12px;
        height: 12px;
        display: block;
        top: 2.4em;
        position: absolute;
        left: -6px;
        border-radius: 12px;
        content: '';
        background-color: #a3ff94ff;
    }


/* Dropdowm Diploma */

.dropdown-content {
    position: absolute;
    background-color: #13202c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
    align-items: center;
    text-align: center;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: dimgrey;
        }

/*  Diploma Dropdowm Icon  */

.fa-circle-chevron-down {
    margin-left: 5px;
    cursor: pointer;
    color: whitesmoke;
}

    .fa-circle-chevron-down:hover {
        color: dimgrey;
    }

.history-items {
    margin-bottom: 30px;
}


/* ----------------------- Media Queries ----------------------- */

/* ---- Work Experience ---- */
@media (min-width: 768px) and (max-width: 1117px) {
    .work-experience-heading {
        font-size: 22px;
        text-align: center;
    }

    .timeline-item {
        font-size: 13px;
    }

    .timeline-item h4 {
        font-size: 16px;
    }

    .timeline-item-studies {
        font-size: 13px;
    }

    .timeline-item-studies h4 {
        font-size: 16px;
    }
}
