/*------------------------------------------------ Section resume.html */

.frontend-backend {
    color: #1a1a1a;
    font-size: 20px;
    margin-bottom: 18px;
}

/* -------- Front End Icon -------- */

.fa-tv {
    font-size: 26px;
    color: #00a148;
}


/* -------- Back End Icon -------- */

.fa-gears {
    font-size: 26px;
    color: #00a148;
}


/* -------- Skills -------- */

.my-skills-icons {
    font-size: 21px;
    color: rgb(67, 67, 67);
}

.my-skills-item {
    height: 18px;
}