@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&display=swap');


.container-fluid, .row, .no-gutters {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}


html, body {
    width: 100%;
    overflow-x: hidden;
}


/*----------------------------------------- Colours */

.bg-color-name-title {
    /* background-color: #3331c9; */
    background-color: #131418;
}

.bg-color-three-reasons {
    background-color: #ededed;
}

.bg-color-personal-info {
    background-color: #192a3a;
}

/*------------ Nav links*/

/*--- Actice / Inactive Links ---*/

.active {
    box-shadow: 0px -5px 76px -3px #ffffff98;
}

.menuitem.active a,
.menuitem.active a i,
.menuitem.active a span {
    color: #a3ff94ff;
}

.inactive {
    z-index: 1;
}

/* ----- NavBar with same col-4 sections -----*/
.ui-menu-color-home {
    background-color: #192a3a;
}

.ui-menu-color-resume {
    background-color: #192a3a;
}

.ui-menu-color-contact {
    background-color: #192a3a;
}

.ui-menu-color-portfolio {
    background-color: #192a3a;
}

.ui-menu-color-github {
    background-color: #192a3a;
}

.ui-menu-color-download {
    background-color: #192a3a;
}


/*------------------------------------ Heading */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    margin-bottom: 25px;
}

/*  ---- Header image ----  */

.logo {
    background: url("../images/11.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    margin-top: -5px;
    background-color: #000000;
    order: 0;
}

/*  ---- Name & Title div ----  */

.row-name-title {
    display: flex;
    flex-direction: row;
}

/*  ---- Header Name ----  */

.name {
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    margin-top: 30px;
}

.fancy {
    background-image: url(../images/name-bg.png);
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/*  ---- Header Title ----  */

.title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

    #nav li {
        font-size: 14px;
        padding: 0;
    }

.menuitem {
    height: 83px;
    text-align: center;
    padding: 0;
}

    .menuitem a {
        width: 100%;
        text-decoration: none;
        color: whitesmoke;
        height: 83px;
    }

        .menuitem a i {
            padding-top: 22px;
            display: block;
            color: whitesmoke;
            font-size: 26px;
        }

        .menuitem a:hover, .menuitem a:hover i {
            color: white; /* Text and Icon Color */
        }

    .menuitem span {
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }

/*--------------------------- Special text/margins/paddings */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #fafafa;
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 55px;
    margin-left: 15px;
    font-size: 30px;
    color: #1a1a1a;

}


.bold {
    font-weight: bold;
    color: #979797;
}

.bold-dark {
    font-weight: bold;
    color: #2b2b2b;
}


/*------------------------------------------------ Hover.css */

.hvr-sweep-to-left:before {
    background: rgba(0, 0, 0, 0.7);
    height: 83px;
    color: white;
}

/*------------------------------------------------ Footer */

footer {
    background-color: #131418;
    color: #7c7c7c;
    min-height: 120px;
    margin: 0;
    font-size: 12px;
}

#overall-footer {
    padding: 21px;
}

/* --------  Download CV  -------- */

.cv-pdf i {
    font-size: 18px;
    color: #cbcbcb;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

    .cv-pdf i:hover {
        color: rgb(0, 83, 122);
    }

/* --------  Find Me On  -------- */

.find-me-links {
    padding-bottom: 15px;
}

    .find-me-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        line-height: 7px;
        font-size: 20px;
        text-align: center;
        color: #cbcbcb;
        background: #5f5f5f;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

        .find-me-links li a i:hover {
            background: rgb(0, 83, 122);
        }


/*------------------------------------------------ Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #192a3a;
}


.three-reasons-heading {
    color: #252525ff;
    font-size: 20px;
    margin-bottom: 10px;
}

.three-reasons-p {
    color: #2b2b2bff;
    padding-bottom: 25px;
}


/*------------------------------------------------ Personal Info */

.col4-section-heading {
    color: whitesmoke;
    text-align: center;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    color: whitesmoke;
}

.personal-info-item-with-icon {
    margin-bottom: 20px;
    display: inline-block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

    .personal-info-item .key p,
    .personal-info-item .value p {
        margin: 0;
    }

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

    .personal-info-item .key p {
        font-weight: 700;
    }

.personal-info-item .value {
    position: relative;
    width: 60%;
}


/* --------  WhatsApp  -------- */
.whatsapp-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.personal-info-icon {
    font-size: larger;
    color: #00c14a;
}


/* ----------------------- Media Queries ----------------------- */

/* ---- Personal Info ---- */
@media (min-width: 768px) and (max-width: 970px) {
    .col4-section-heading {
        font-size: 21px;
        text-align: center;
    }

    .personal-info-item .key {
        font-size: 13px;
    }

    .personal-info-item .value {
        font-size: 11px;
    }
}

/* ---- Title ---- */
@media (max-width: 768px) {
    .title {
        font-size: 18px;
    }
}

/* ---- Hide logo image on smaller screens ---- */

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}

@media (min-width: 958px) and (max-width: 1200px) {
    .personal-info-icon.fa-square-whatsapp {
        display: none;
    }
}

/* ---- Logo image on top on smaller screens ---- */
@media (max-width: 768px) {
    .row.no-gutters {
        flex-direction: column;
    }

    .logo {
        order: -1;
    }
}

/* -------- Media Query Name and heading -------- */

@media (max-width: 768px) {
    .name {
        font-size: 30px; /* Smaller font size for small screens */
    }

    .heading {
        margin-left: 10px; /* Less margin for small screens */
    }
}
